<form [formGroup]="dynamicFormGroup">
  <div class="form display-flex">
    <h2>{{formTitle}}</h2>
    <div style="flex: 1"></div>
    <mat-slide-toggle formControlName="isActive" class="toggle-space">Active</mat-slide-toggle>
  </div>
  <ng-container *ngFor="let field of fields">
    <mat-form-field appearance="fill" *ngIf="field.type == 'short-text'" style="margin-right: 10px">
      <mat-label>{{field.label}}</mat-label>
      <input matInput [placeholder]="field.placeholder" [formControlName]="field.name">
    </mat-form-field>
  </ng-container>
</form>

<div class="display-flex">
  <div class="flex-align"></div>
  <button mat-raised-button color="warn" (click)="deleteInstance()">Delete</button>
  <button mat-raised-button color="accent" (click)="newInstance()" 
    [disabled]="!dynamicFormGroup.valid">New</button>
  <button mat-raised-button color="primary" (click)="saveInstance()" 
    [disabled]="!dynamicFormGroup.valid || !dynamicFormGroup.dirty">Save</button>
</div>