<form [formGroup]="dynamicFormGroup">
  <div class="form display-flex">
    <h2>{{formTitle}}</h2>
    <div style="flex: 1"></div>
    <mat-slide-toggle formControlName="isActive" class="toggle-space">Active</mat-slide-toggle>
  </div>
  <mat-grid-list cols="2" rowHeight="3:1">
    <ng-container *ngFor="let field of fields">
      <mat-grid-tile *ngIf="field.type != 'id' && field.name != 'isActive'">
        <app-date *ngIf="field.type == 'date'" [field]="field" [dynamicFormGroup]="dynamicFormGroup"></app-date>
        <app-select *ngIf="field.type == 'select'" [field]="field" [dynamicFormGroup]="dynamicFormGroup"></app-select>
        <app-short-text *ngIf="field.type == 'short-text'" [field]="field" [dynamicFormGroup]="dynamicFormGroup"></app-short-text>
      </mat-grid-tile>
    </ng-container>
  </mat-grid-list>
</form>

<div class="display-flex">
  <div class="flex-align"></div>
  <button mat-raised-button color="warn" (click)="deleteInstance()">Delete</button>
  <button mat-raised-button color="accent" (click)="newInstance()" [disabled]="!dynamicFormGroup.valid">New</button>
  <button mat-raised-button color="primary" (click)="saveInstance()"
    [disabled]="!dynamicFormGroup.valid || !dynamicFormGroup.dirty">Save
  </button>
</div>