<div class="display-flex">
    <div class="flex-align"></div>
    <button mat-raised-button color="warn" (click)="closeDialog()">
        <mat-icon>close</mat-icon>
    </button>
</div>

<div class="container">
    <form name="dynamicForm" #ngForm="ngForm" (ngSubmit)="ngForm.valid && onSubmit($event)">
        <app-form [fields]="fields" [data]="data"></app-form>
        <button class="btn btn-primary mt-2">Submit</button>
        <pre>{{ data | json }}</pre>
    </form>
</div>

<div class="display-flex">
    <div class="flex-align"></div>
    <button mat-raised-button color="warn" (click)="deleteEmployee()">Delete</button>
    <button mat-raised-button color="accent" (click)="newEmployee()">New</button>
    <button mat-raised-button color="primary" (click)="saveEmployee()">Save</button>

    <!-- <button mat-raised-button color="warn" (click)="deleteEmployee()">Delete</button>
    <button mat-raised-button color="accent" (click)="newEmployee()" [disabled]="!employeeFormGroup.valid">New</button>
    <button mat-raised-button color="primary" (click)="saveEmployee()" [disabled]="!employeeFormGroup.valid || !employeeFormGroup.dirty">Save</button> -->
</div>